@font-face {
    font-family: Poppins-SemiBold;
    src: url('https://tuf.edu.pk/Main/frontend/fonts/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: Poppins-Light;
    src: url('https://tuf.edu.pk/Main/frontend/fonts/Poppins-Light.ttf');
}
@font-face {
    font-family: Poppins-Regular;
    src: url('https://tuf.edu.pk/Main/frontend/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: Poppins-Medium;
    src: url('https://tuf.edu.pk/Main/frontend/fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: Poppins-Bold;
    src: url('https://tuf.edu.pk/Main/frontend/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: Poppins-ExtraLightItalic;
    src: url('https://tuf.edu.pk/Main/frontend/fonts/Poppins-ExtraLightItalic.ttf');
}
@font-face {
	font-family: 'Noori';
	src: url('https://tuf.edu.pk/Main/frontend/fonts/Jameel-Noori-Nastaleeq-Kasheeda.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
html, body {
    height: 100%;
    margin: 0;
}
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Poppins-Regular;
}
/*Top Bar*/
.top-bar{
    background-color: #e5e9ea;
}
.top-bar img{
    height: 25px;
    width: 25px;
    object-fit: cover;
    margin-right: 10px;
}
.top-bar .nav{
    min-height: 60px;
    align-items: center;
    padding-top: 10px;
}
.top-bar .nav .nav-item .nav-link{
    text-transform: uppercase;
    font-weight: 600;
    color: #002c54;
}
.top-bar .nav .nav-item:first-of-type .nav-link{
    color: #eeb408;
    position: relative;
    text-decoration: underline;
}
.top-bar .nav .nav-item:first-of-type .nav-link::after{
    position: absolute;
    content: "";
    width: 1px;
    height: 50%;
    right: 0;
    background: #727475;
    top: 50%;
    transform: translate(0, -50%);
}
.top-bar .nav .dropdown{
    background-color: #efb509;
    border-radius: 25px;
}
.top-bar .nav .dropdown-top{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.top-bar .dropdown .dropdown-menu-show{
    display: flex;
    flex-wrap: wrap;
    border: 0;
    padding: .5rem;
    border-radius: 0;
    background-color: rgb(239,181,9);
    min-width: 8.8rem;
    transform: translate(0px, 40px) !important;
    inset: 0px auto auto 0px;
}
.top-bar .dropdown-menu-show li{
    width: 100%;
    flex: 0 0 100%;
    text-transform: uppercase;
}
.top-bar.dropdown-menu-show .dropdown-item:focus,
.top-bar .dropdown-menu-show .dropdown-item:hover{
    background-color: #002c54;
    color: #ffffff;
}
/*Main Menu*/
.main-meu{
    background-color: #002c54;
    padding-top: 0;
    padding-bottom: 0;
}
.main-meu .logo{
    width: 200px;
}
.main-meu  .navbar-toggler,
.main-meu  .navbar-toggler:focus,
.main-meu  .navbar-toggler:active
{
    background-color: #eeb408;
    padding: .25rem .25rem;
    outline: 0;
    border: 0;
    box-shadow:none;
}
.main-meu .navbar-nav > .nav-item{
    position: relative;
    padding: 0 .5rem;
}
.main-meu .navbar-nav > .nav-item:not(:last-of-type)::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 35%;
    right: 0;
    background: #eeb408;
    top: 50%;
    transform: translate(0, -50%);
}
.main-meu .navbar-nav > .nav-item > .nav-link{
    color: #eeb408;
    text-transform: uppercase;
    font-weight: 400;
    padding: 1.3rem .5rem;
}
.main-meu .dropdown .dropdown-menu-show{
    display: flex;
    flex-wrap: wrap;
    border: 0;
    padding: .5rem;
    border-radius: 0;
    background-color: rgba(239,181,9,0.8);
    min-width: 25rem;
    left: -5rem;
    top: 65px;
}
.main-meu .dropdown-menu-show li{
    width: 50%;
    flex: 0 0 50%;
}
.main-meu .dropdown-menu-show  .dropdown-item{
    color: #000000;
    white-space: break-spaces;
}
.main-meu .dropdown-menu-show .dropdown-item:focus,
.main-meu .dropdown-menu-show .dropdown-item:hover{
    background-color: #002c54;
    color: #ffffff;
}
.dropdown-menu[data-bs-popper]{
    margin-top: 0;
}
.search-bar{
    border-radius: 2rem;
    background: transparent;
    border: 1px solid #eeb408;
}
.search-bar::placeholder{
    color: #ffffff;
}
.wrapper{
    min-height: 100%;
}

/* Main page start here  */
.career-portal-wrapper .portal-background{
    background-image:url('../images/career/Images-01.jpg');
    height: 380px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.career-portal-wrapper .banner-text h2{
    text-transform: uppercase;
    font-family: Poppins-Bold;
    font-size: 3.5rem;
    color: #eeb408;
  }
.career-portal-wrapper .banner-text h3{
    font-family: Poppins-Bold;
    text-transform: uppercase;
    font-size: 2.5rem;
  }
.career-portal-wrapper .top-header-wrapper {
    padding: 0px 20px;
    height: 90px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin-top: -40px;
  }
.career-portal-wrapper .top-header-wrapper .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbaba;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.5rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.career-portal-wrapper .top-header-wrapper button {
    background-color: #1b3e71;
    color: #eeb408 !important;
    padding: 0.375rem 2rem !important;
}

/* ======================= 
    Counter box 
=================== */

.wrapper-counter-second .arrows {
    color: #ffffff;
    width: 100%;
    font-size: 40px;
    padding-bottom: 10px;
}
.wrapper-counter-second .service-icon img {
    width: 100%;
    height: 3rem;
    padding-bottom: 10px;
    color: #002c53;
}
.counter-bg-head {
    background-color: #f0efed;
}
.wrapper-counter-second h2 {
    font-family: Poppins-Bold;
    font-size: clamp(1.5rem, 5vw, 3.5rem);
    color: #002c53;
    margin-bottom: 0px;
}

.wrapper-counter-second p {
    color: #eeb408;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-family: Poppins-Bold;
    font-size: clamp(2px, 5vw, 15px);
}

.wrapper-counter-second .tuf-goals {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-counter-second .tuf-goals p {
    font-size: 2.7rem;
    font-weight: 700;
    color: #002c54;
    margin-top: auto;
    line-height: 0.9;
}
.wrapper-counter-second .tuf-goals span {
    font-weight: 800;
    font-size: 5.2rem;
    color: #fab03a;
    position: relative;
    right: 65px;
    bottom: 5px;
    text-shadow: 4px 4px 4px grey;
}
.career-portal-wrapper .job-repeat h4 {
    font-family: Poppins-Bold ;
}
/* career start here */
.career-portal-wrapper .career-apply {
    display: inline;
    color: #e5ba11;
}
.career-portal-wrapper .apply-features {
    color: #7e7e7b;
    font-size: 13px;
    display: inline;
}
.career-portal-wrapper .job-repeat p {
    margin-top: 8px;
    font-family: Poppins-Regular;
    color: #7e7e7b;
}
.career-portal-wrapper  .job-search input {
    background-color: #002c54;
    color: #eeb408;
    border-radius: 6px;
    font-family: 'Poppins-Light';
    padding: 1px 30px;
}
.career-portal-wrapper .form-check .form-check-label {
    color: #002c53;
    background-color: none;
}
.career-portal-wrapper .form-check-input:checked {
    background-color: #eeb408 !important;
    box-shadow: none;
}
.career-portal-wrapper .form-check .form-check-input {
    color: #002c53;
    border: 1px solid #eeb408;
    background-color: inherit;
}
.career-portal-wrapper .apply-button {
    background-color: #eeb408;
    padding: 5px 30px;
    font-family: Poppins-Light;
}
.career-portal-wrapper .single-job .single-job-detail {
    border-radius: 4px;
    padding-left: 5px;
    border: 1px solid #b8b7b5 ;
}
.career-portal-wrapper .single-job .single-job-detail p {
  font-family: Poppins-SemiBold;
  color: #7e7e7b;
  /* color: #979592; */
}
.career-portal-wrapper .tip-card-wrapper h2 {
    font-family: Poppins-Bold;
    color: #eeb408;
}
.career-portal-wrapper .tip-card-wrapper .lower_card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.career-portal-wrapper .tip-card-wrapper .card-block {
    height: 280px;
}
.career-portal-wrapper .tip-card-wrapper .card-block h5{
    font-family: Poppins-SemiBold;
    text-transform: uppercase;
    color: #eeb408;
    line-height: 30px;
}
.career-portal-wrapper .tip-card-wrapper .card-block p {
    font-family: Poppins-SemiBold;
}
.career-portal-wrapper .tip-card-wrapper .card-block .card-text {
    font-family: Poppins-Regular;
    color: #b8b7b5;
}
.career-portal-wrapper .tip-card-wrapper .read-more-fixed {
    position: absolute;
}
.career-portal-wrapper .tip-card-wrapper .read {
    position: relative;
    top: 20px;
}

/* jobs and vancancies start here  */
.career-portal-wrapper .tittle h2{
    font-family: Poppins-Bold;
    text-transform: uppercase;
    color: #eeb408;
}
.career-portal-wrapper .accordion-button {
    background-color: #002c53;
    color: #fff;
    box-shadow: none;
}
.wrapper-counter-second .accordion-item .h2 {
    font-family: Poppins-Light !important;
}
.career-portal-wrapper .accordion-item {
    background-color: #f0efed;
}
.accordion-button:not(.collapsed)::after {
    background-image:url('../images/collapse.svg') !important;
    transform: rotate(-180deg);
   
}
.accordion-button::after {
    background-color: #d3a309;
    padding: 0rem 0rem !important;
}
/* Mian page end here  */
    /* ==============================
        detail page design Here 
    =================================*/
.job-detail-wrapper .career-apply {
    display: inline;
    font-size: 20px;
    color: #e5ba11;
}
.job-detail-wrapper .apply-features {
    color: #666666;
    padding-left: 5px;
    font-size: 16px;
    display: inline;
    font-family: Poppins-SemiBold;
}
.job-detail-wrapper .table-detail h5{
    font-family: Poppins-Bold;
    line-height: 6px;
}
.job-detail-wrapper .table-detail p{
    font-family: Poppins-SemiBold;
    color: #666666;
    margin-top: 8px;
}
.job-detail-wrapper .table-detail table{
    border: 2px solid #e5ba11 !important;
}
.job-detail-wrapper .table-bordered>:not(caption)>*>* {
    border-width: 2px 2px;
}
.job-detail-wrapper H3 {
    font-family: Poppins-Bold;
}
.job-detail-wrapper p , ul {
    color: #666666;
    line-height: 30px;
}
.job-detail-wrapper .sidebar-detail .green-side {
    background-color: #4a9723;
    margin: auto;
    border-radius: 20px;
}
.job-detail-wrapper .sidebar-detail .clock-side {
    position: relative;
    font-size: 40px;
    color: #fff;
}
.job-detail-wrapper .quick-career-box {
    border: 2px solid #e5ba11;
}
.job-detail-wrapper .quick-career-box .three-phase img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
}
.job-detail-wrapper .quick-career-box .three-phase {
    position: relative;
    padding-left: 60px;
    list-style: none;
}
.job-detail-wrapper .quick-career-box .date {
    color: #e5ba11;
}
/* =========new design==== */
/*Footer*/
footer{
    background: #1b3e71;
    padding: 3rem 0;
    font-family: Poppins-Light;
    position: relative;
}
.footer-section{
    position: relative;
}
.footer-section:not(:first-of-type){
    padding-left: 12%;
}
.footer-section:not(:last-of-type)::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 90%;
    right: 0;
    background: #eeb408;
    top: 50%;
    transform: translate(0, -50%);
}
.footer-section>img{
    width: 75%;
}
.footer-section h4{
    color: #eeb408;
}
.footer-section ul{
    color: #ffffff;
}
.footer-section .links-details p{
    margin-bottom: .5rem;
    font-size: small;
}
.footer-section .links-details a{
    text-decoration: none;
    color: #ffffff;
}
.footer-section .social-icons{
    margin-top: 1rem;
}
.footer-section .social-icons a:not(:first-of-type){
    margin-left: .5rem;
}
.circle-icon {
    background: #f8ffe1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    padding: 10px;
    color: #d3a309;
}
.card-view .education .degree .edu-type{
    color: #999999;
    margin-bottom: 0;
}
.min-height{
    min-height: 210px;
}
.dropdown-item {
    font-size: 12px !important;
    font-weight: 600 !important;
}
    /* Program Page */

    #table-program{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        overflow:hidden;
        border-color: #002c54 !important;
    }
    #table-program .table-data{
        background-color: #ededed;
    }

    .Programs .table-orange{
        background-color: #cd7213 !important;
        font-family: Poppins-Medium !important;
        font-size: 1.25em;
    }
    #table-program .table-data{
        font-family: Poppins-Light !important;
        font-size: 1em;
    }
    .table-orange p{
        margin: 5px 0 5px 0 !important;
    }
    #table-program a{
        text-decoration: none;
    }
    .table-white p{
        margin: 5px 0 5px 0 !important;
    }
    .Programs .text-yellow{
        color: #efb509;
    }
    .Programs .table-data p {
     
        display: inline-block;
    }
    .Programs p a:hover {
        background-color: #002c54;
        color: white;
    }
    .Programs .bg-orange {
        background-color: #cd7213;
    }
    .Programs   .badge {
        padding: 0.15em 0.65em 0.15em;
        font-family: Poppins-Light !important;
        font-size: 0.6em;
        font-weight: 300 !important;
        vertical-align: middle;
        border-radius: 0.25rem;
    }
    #table-program thead{
        font-family: Poppins-SemiBold !important;
        font-size: 1em;
    }
    #table-program .table-white{
        font-family: Poppins-Bold !important;
    
        font-size: 1.64em;
    }
   
   
    .p-width{
        width: 40%;
    }
    .e-width{
        width: 30%;
    }

    /* Ticker */
    .tcontainer {
        width: 100%;
        overflow: hidden;
    }
    
    .ticker-wrap {
        width: 100%;
        padding-left: 100%;
        background-color: #E2D8D0;
    }
    
    @keyframes ticker {
        100% {
            transform: translate3d(-100%, 0, 0);
        }
    }
    
    .ticker-move {
        display: inline-block;
        white-space: nowrap;
        padding-right: 100%;
        animation-timing-function: linear;
        animation: ticker 300s infinite;
    }
    
    .ticker-move:hover {
        animation-play-state: paused;
    }
    
    .ticker-item {
        display: inline-block;
        padding: 0 40px;
        color: #028211;
        font-size: 20px;
        font-family: 'Noori';
    }
    .corona-sologan-mr{
        margin-right: 700px;
        font-family: 'Noori';
        font-size: 20px !important;
    }
@media screen and (min-width: 1200px) and (max-width: 1450px) {
    .main-meu .navbar-nav > .nav-item > .nav-link{
        font-size: .8rem;
    }
    .main-meu .dropdown .dropdown-menu-show{
        top: 60px;
    }
    /* Co-Curricular Activities page */
    .co-curricular-activities-wrapper .related-links-section span.nav-text {
        padding-left: 0.5rem;
        font-size:1rem;
        font-weight: 900;
    }
}
@media screen and (max-width: 1200px) {
    .main-meu{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .main-meu .navbar-nav > .nav-item:not(:last-of-type)::after{
        width: 0;
    }
    .mission-bg img{
        width: 65%;
    }
    .mission-bg{
        right: -25%;
    }
    .mission-info {
        top: 50%;
        left: 30%;
        transform: translate(-45%,-50%);
        width: 40%;
    }
    .life-at-tuf{
        margin-bottom: 12rem;
    }
}
@media screen and (max-width: 991px) {
    .main-meu .navbar-nav > .nav-item > .nav-link{
        padding: .3rem 0;
    }
    .main-meu .dropdown-menu-show li {
        width: 100%;
        flex: 0 0 100%;
    }
    .mission-bg img,
    .tuf-mission .mission-img{
        width: 100%;
    }
    .mission-bg{
        position: relative;
        right: 0;
    }
    .mission-info{
        left: 47%;
        width: 50%;
        top: 45%;
    }
    .footer-section:not(:first-of-type){
        padding-left: 7%;
    }
}
@media screen and (max-width: 767px){
    .footer-section:not(:last-of-type)::after{
        width: 0;
    }
    .footer-section:not(:first-of-type){
        padding-left: 3%;
    }
    .career-portal-wrapper .top-header-wrapper {
        height: 100%;
    }
    .career-portal-wrapper .top-header-wrapper .header-search button {
        margin-bottom: 14px;
    }
}

/* ================================================== */

.form-input{
    display: block;
    width: 100%;
    height: calc(2em + .75rem + 2px);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666666;
    background-clip: padding-box;
    border: 0;
    border: 1px solid #e5ba11;
    border-radius: 5px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background: transparent;
}
.form-input:focus{
    border: 0;
    border: 2px solid #999999;
    outline: 0;
}
.form-input::placeholder{
    color: #666666;
    padding-left: 0px;
}
.btn-black{
    background-color: #000 !important;
    color: #fff !important;
}
#professional{
    display: none;
}
#academic{
    display: none;
}
.btn-yel{
    background-color: #e5ba11 !important;
    color: #fff !important;
}
.signup-step-container{
	padding: 80px 0px;
	padding-bottom: 60px;
}
.wizard .nav-tabs {
    position: relative;
    margin-bottom: 0;
    border-bottom-color: transparent;
}

.wizard > div.wizard-inner {
position: relative;
margin-bottom: 50px;
text-align: left;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 50%;
    margin-left: 0px;
    left: 0;
    right: 0;
    top: 15px;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 16px;
    color: #0e214b;
    font-weight: 500;
    border: 1px solid #ddd;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #e5ba11;
    color: #fff;
    border-color: #e5ba11;
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}
.wizard .nav-tabs > li.active > a i{
	color: #e5ba11;
}

.wizard .nav-tabs > li {
    width: 25%;
}
.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: red;
    transition: 0.1s ease-in-out;
}
.wizard .nav-tabs > li a {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
}
.wizard .nav-tabs > li a i{
	position: absolute;
    top: -15px;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 700;
    color: #000;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 20px;
}


.wizard h3 {
    margin-top: 0;
}
.wizard-inner {
     width: 165%;;
}
.prev-step,
.next-step{
    font-size: 13px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
}
.next-step{
	background-color: #e5ba11;
}
.step-head{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}
.term-check{
	font-size: 14px;
	font-weight: 400;
}
.list-content{
	margin-bottom: 10px;
}
.list-content a{
	padding: 10px 15px;
    width: 100%;
    display: inline-block;
    background-color: #f5f5f5;
    position: relative;
    color: #565656;
    font-weight: 400;
    border-radius: 4px;
}
.list-content a[aria-expanded="true"] i{
	transform: rotate(180deg);
}
.list-content a i{
	text-align: right;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: 0.5s;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fdfdfd;
}
/*-----------custom-checkbox-----------*/
/*----------Custom-Checkbox---------*/
input[type="checkbox"]{
    position: relative;
    display: inline-block;
    margin-right: 5px;
}
input[type="checkbox"]::before,
input[type="checkbox"]::after {
    position: absolute;
    content: "";
    display: inline-block;   
}
input[type="checkbox"]::before{
    height: 16px;
    width: 16px;
    border: 1px solid #999;
    left: 0px;
    top: 0px;
    background-color: #fff;
    border-radius: 2px;
}
input[type="checkbox"]::after{
    height: 5px;
    width: 9px;
    left: 4px;
    top: 4px;
}
input[type="checkbox"]:checked::after{
    content: "";
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
}
input[type="checkbox"]:checked::before{
    background-color: #e5ba11;
    border-color: #e5ba11;
}
section.blog-height {
    max-height: 650px;
    height: 650px;
}
.info-box p {
    color: #fff !important;
}
   .wizard-content-left {
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.45);
    background-image: url("https://i.ibb.co/X292hJF/form-wizard-bg-2.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    padding: 30px;
  }
  .wizard-content-left h1 {
    color: #ffffff;
    font-size: 38px;
    font-weight: 600;
    padding: 12px 20px;
    text-align: center;
  }
  
  .form-wizard {
    /* color: #888888; */
    padding: 30px 30px 30px 0;
  }
  .form-wizard .wizard-form-radio {
    display: inline-block;
    margin-left: 5px;
    position: relative;
  }
  .form-wizard .wizard-form-radio input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: #dddddd;
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
  }
  .form-wizard .wizard-form-radio input[type="radio"]:focus {
    outline: 0;
  }
  .form-wizard .wizard-form-radio input[type="radio"]:checked {
    background-color: #fb1647;
  }
  .form-wizard .wizard-form-radio input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 50%;
    left: 1px;
    right: 0;
    margin: 0 auto;
    top: 8px;
  }
  .form-wizard .wizard-form-radio input[type="radio"]:checked::after {
    content: "";
    display: inline-block;
    webkit-animation: click-radio-wave 0.65s;
    -moz-animation: click-radio-wave 0.65s;
    animation: click-radio-wave 0.65s;
    background: #000000;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
    border-radius: 50%;
  }
  .form-wizard .wizard-form-radio input[type="radio"] ~ label {
    padding-left: 10px;
    cursor: pointer;
  }
  .form-wizard .form-wizard-header {
    text-align: center;
  }
  .form-wizard .form-wizard-next-btn, .form-wizard .form-wizard-previous-btn, .form-wizard .form-wizard-submit {
    background-color: #e5ba11;
    color: #ffffff;
    display: inline-block;
    min-width: 100px;
    min-width: 120px;
    padding: 10px;
    text-align: center;
  }
  .form-wizard .form-wizard-next-btn:hover, .form-wizard .form-wizard-next-btn:focus, .form-wizard .form-wizard-previous-btn:hover, .form-wizard .form-wizard-previous-btn:focus, .form-wizard .form-wizard-submit:hover, .form-wizard .form-wizard-submit:focus {
    color: #ffffff;
    opacity: 0.6;
    text-decoration: none;
  }
  .form-wizard .wizard-fieldset {
    display: none;
    padding-top: 20px;
  }
  .form-wizard .wizard-fieldset.show {
    display: block;
  }
  .form-wizard .wizard-form-error {
    display: none;
    background-color: #d70b0b;
    color: #d70b0b;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    font-size: 15px;
  }
  .form-wizard .form-wizard-previous-btn {
    background-color: #fb1647;
  }
  .form-wizard .form-control {
    font-weight: 300;
    height: auto !important;
    padding: 15px;
    color: #888888;
    background-color: #f1f1f1;
    border: none;
  }
  .form-wizard .form-control:focus {
    box-shadow: none;
  }
  .form-wizard .form-group {
    position: relative;
    margin: 12px 0;
  }
  .form-wizard .wizard-form-text-label {
    position: absolute;
    left: 10px;
    top: 16px;
    transition: 0.2s linear all;
  }
  .form-wizard .focus-input .wizard-form-text-label {
    color: #e5ba11;
    top: -18px;
    transition: 0.2s linear all;
    font-size: 12px;
  }
  .form-wizard .form-wizard-steps {
    margin: 15px -100px;
  }
  .form-wizard .form-wizard-steps li {
    width: 33%;
    float: left;
    position: relative;
  }
  .form-wizard .form-wizard-steps li::after {
    background-color: #f3f3f3;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
  }
  .form-wizard .form-wizard-steps li span {
    background-color: #dddddd;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-align: center;
    width: 40px;
    z-index: 1;
  }
  .form-wizard .form-wizard-steps li:last-child::after {
    width: 50%;
  }
  .form-wizard .form-wizard-steps li.active span, .form-wizard .form-wizard-steps li.activated span {
    background-color: #e5ba11;
    color: #ffffff;
  }
  .form-wizard .form-wizard-steps li.active::after, .form-wizard .form-wizard-steps li.activated::after {
    background-color: #e5ba11;
    left: 50%;
    width: 50%;
    border-color: #e5ba11;
  }
  .form-wizard .form-wizard-steps li.activated::after {
    width: 100%;
    border-color: #e5ba11;
  }
  .form-wizard .form-wizard-steps li:last-child::after {
    left: 0;
  }
  .form-wizard .wizard-password-eye {
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  @keyframes click-radio-wave {
    0% {
      width: 25px;
      height: 25px;
      opacity: 0.35;
      position: relative;
    }
    100% {
      width: 60px;
      height: 60px;
      margin-left: -15px;
      margin-top: -15px;
      opacity: 0.0;
    }
  }
  @media screen and (max-width: 767px) {
   .display-moblie {
       display: none;

   }
   .padding-banner{
       padding-top: 0px !important;
   }
   .wizard-content-left {
       height: auto;
     }
  }
